---
layout: page
title: Contact
---

	<h3>Contact</h3>
	<p>We're available for contact through one of the methods below.</p>
	<hr />

	<section id="contactus">
	<h4>Contact form</h4>
			<section>
				<form method="post" id="contactform">
					<input type="hidden" name="_subject" value="Vetrnry: contact form submission" />
					<input type="hidden" name="_next" value="contact.html#thanks" />
					<div class="row uniform">
						<div class="6u">
							<input type="text" name="contactname" id="contactname" value="" placeholder="Name" />
						</div>
						<div class="6u$">
							<input type="email" name="contactemail" id="contactemail" value="" placeholder="Email" />
						</div>
						<div class="12u$">
							<div class="select-wrapper">
								<select name="category" id="category">
									<option value="">- Category -</option>
									<option value="1">General enquiry</option>
									<option value="1">Consultation service for veterinary business</option>
									<option value="1">Downloadable resources</option>
									<option value="1">Veterinary house-calls</option>
								</select>
							</div>
						</div>
						<div class="12u$">
							<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
						</div>
						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Send" class="special" /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</div>
				        <input type="text" name="_gotcha" style="visibility:hidden" />
					</div>
				</form>
				<script>
				var contactform =  document.getElementById('contactform');
				contactform.setAttribute('action', '//formspree.io/' + 'contact' + '@' + 'vetrnry' + '.' + 'com');
				</script>
			</section>
	</section>

	<hr />

	<section id="book">
		<h4>Booking form for veterinary house-calls</h4>
		<p>Cats and dogs are our primary focus for our veterinary house-call service. Consultation time is 30 minutes and will include a physical examination performed by an experienced registered Veterinarian.</p>
			<section>
				<form method="post" id="bookingform">
					<input type="hidden" name="_subject" value="Vetrnry: booking form submission" />
					<input type="hidden" name="_next" value="contact.html#thanks" />
					<div class="row uniform">				
					<input type="text" name="_gotcha" style="visibility:hidden" />
					</div>
				</form>
				<script>
				var contactform =  document.getElementById('bookingform');
				contactform.setAttribute('action', '//formspree.io/' + 'contact' + '@' + 'vetrnry' + '.' + 'com');
				</script>
			</section>
	</section>

	<hr />

	<section id="thanks" class="wrapper special">
		<h4>Thanks</h4>
		<p>Thank you for your interest in our services, we'll review your submission and get back to you as early as possible. Our typical response time is within 2 business days.</p>
	</section>

	<hr />

	<section class="wrapper special">
		<h4>Other ways of getting in contact with us.</h4>
		  <ul class="actions">
		    {% for socloc in site.social %}
		    {% if socloc[1] %}
		    {% if socloc[0] == 'email' %}
		    <li><a target="_blank" href="mailto:{{ socloc[1] }}" class="button icon fa-envelope-o"
		           >E-mail</a></li>
		    {% else %}
		    <li><a target="_blank" href="{{ socloc[1] }}" class="button icon fa-{{ socloc[0] }}"
           >{{ socloc[0] }}</a></li>
		    {% endif %}
		    {% endif %}
		    {% endfor %}
		  </ul>
	</section>

